# Директории, которые не должны попадать в Git
/bin/
/vendor/
/tmp/
/scripts/
*.exe
*.log
*.out
*.swp

# Игнорируем файлы зависимостей Go
go.sum
go.work

# Файлы окружения (не загружай в репозиторий!)
.env
config.yaml
